@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  /* overflow: hidden; */
  font-family: var(--font-geist-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  font: inherit;
}

/* Custom Scrollbar Styles - Thin & Premium */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e2e2e2;
  border-radius: 20px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #d1d1d1;
}

/* Firefox Support */
* {
  scrollbar-width: thin;
  scrollbar-color: #e2e2e2 transparent;
}
