.main {
  margin-left: var(--sidebar-width);
  padding: 48px 64px;
  min-height: 100vh;
  background-color: var(--background);
}

.contentWrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .main {
    padding: 32px;
  }
}
