.main {
  margin-left: calc(var(--sidebar-width) - 16px);
  padding: 30px 46px 30px 4px;
  height: 100vh;
  background-color: var(--background);
  overflow: hidden;
}

.contentWrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}

@media (max-width: 1024px) {
  .main {
    padding: 32px;
  }
}
